<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <img src="assets/img/DuocUC.png" alt="Logo" class="login-logo"> <!-- Añadir la imagen aquí -->
  </div>

  <div *ngIf="userRole === 'Profesor'" >
    <ion-label>
      <h1>
        ¡Bienvenido Profesor {{userName}}, gran jornada!</h1>
      </ion-label>
    </div>
  <div *ngIf="userRole === 'Alumno'" >
    <ion-label>
      <h1>
        ¡Bienvenido {{userName}}, gran jornada!</h1>
      </ion-label>
    </div>

</ion-content>
