<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <img src="assets/img/DuocUC.png" alt="Logo" class="login-logo"> <!-- Añadir la imagen aquí -->
  </div>

    <h1>¿Aún sin cuenta? ¡Regístrate!</h1>
    <ion-button expand="block" color="warning" routerLink="/registro">Registrarse</ion-button>
    <br>
    <h1>¿Registrado? ¡Inicia Sesión!</h1>
    <ion-button expand="block" color="warning" routerLink="/login">Iniciar Sesión</ion-button>
</ion-content>
