<p>
  ajustes works!
</p>


<div class="content-resultado" *ngFor="let resultado of resultados">
  <ion-item>
    <ion-label>Nombre:   </ion-label>
    <ion-input [(ngModel)]="resultado.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellido:   </ion-label>
    <ion-input [(ngModel)]="resultado.apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>rut:   </ion-label>
    <ion-input [(ngModel)]="resultado.rut"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>correo:   </ion-label>
    <ion-input [(ngModel)]="resultado.correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>carrera:   </ion-label>
    <ion-input [(ngModel)]="resultado.carrera"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>id:   </ion-label>
    <ion-input [(ngModel)]="resultado.id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>edad:   </ion-label>
    <ion-input [(ngModel)]="resultado.edad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>genero:   </ion-label>
    <ion-input [(ngModel)]="resultado.genero"></ion-input>
  </ion-item>
</div>

<ion-button (click)="crearNuevoResultado()">
  crear

</ion-button>