<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Información solicitada</h1>

  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <ion-input 
      type="text" 
      placeholder="Ingrese su nombre completo" 
      label="Nombre y Apellido:" 
      labelPlacement="floating"
      formControlName="nombre"
      helperText="Juan Perez"
      errorText="Formato de nombre erroneo"
      class="custom-input">    
    </ion-input>

    <ion-input  
      type="text" 
      placeholder="Ingrese su Rut completo" 
      label="Rut" 
      labelPlacement="floating"
      formControlName="rut"
      helperText="12345678-9"
      errorText="Formato de Rut erroneo"
      class="custom-input">    
    </ion-input>

    <ion-input 
      type="number" 
      placeholder="Ingrese edad" 
      label="Edad" 
      labelPlacement="floating"
      formControlName="edad"
      helperText="22"
      errorText="Formato de edad erroneo"
      class="custom-input">    
    </ion-input>

    <ion-input 
      type="email" 
      placeholder="Ingrese correo" 
      label="Correo" 
      labelPlacement="floating"
      formControlName="correo"
      helperText="xxxxxx@xxxxx.xx"
      errorText="Formato de correo erroneo"
      class="custom-input">    
    </ion-input>

    <ion-input 
      type="text" 
      placeholder="Carrera" 
      label="Carrera" 
      formControlName="carrera" 
      helperText="Inegnieria en Informática"
      errorText="Formato de texto Erróneo"
      [clearInput]="true" 
      class="custom-input"></ion-input>

    <ion-input 
      type="password" 
      placeholder="Ingrese su contraseña" 
      label="Contraseña" 
      labelPlacement="floating"
      formControlName="password"
      helperText="12345678Fn@"
      errorText="Formato de contraseña erroneo"
      class="custom-input"
      required>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <ion-input 
      type="password" 
      placeholder="Confirme su contraseña" 
      label="Confirmar Contraseña" 
      labelPlacement="floating"
      formControlName="confirmPassword"
      helperText="12345678Fn@"
      errorText="Las contraseñas no coinciden"
      class="custom-input"
      required>
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <ion-button expand="block" color="warning" type="submit" >Enviar Formulario</ion-button>
  </form>

  
</ion-content>