<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="" (click)="app.handleBackButton($event)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div value="escanear" *ngIf="userRole === 'Alumno'">
    <ion-list inset="true">
      <ion-list-header class="header-item">
        <ion-label>Asignatura</ion-label>
        <ion-label id="seccion">Sección</ion-label>
      </ion-list-header> 
      <ion-item *ngFor="let asignatura of asignaturas | async | filterBySeccion: userSeccion">
        <ion-label>{{ asignatura.nombre }}</ion-label>
        <ion-label slot="end">{{ asignatura.seccion }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div value="generar" *ngIf="userRole === 'Profesor'">
    <ion-list inset="true">
      <ion-list-header class="header-item">
        <ion-label>Asignatura</ion-label>
        <ion-label id="seccion">Sección</ion-label>
      </ion-list-header> 
      <ion-item *ngFor="let asignatura of asignaturas | async | filterByIdProfe: userIdProfe">
        <ion-label>{{ asignatura.nombre }}</ion-label>
        <ion-label slot="end">{{ asignatura.seccion }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
