.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px; /* Ajusta este valor según sea necesario */
    padding-right: 16px; /* Ajusta este valor según sea necesario */
    padding-bottom: 20px;
  }


#seccion{
    text-align: end;
}