<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <img src="assets/img/DuocUC.png" alt="Logo" class="login-logo">
  </div>
  <ion-card>
    <ion-card-content>
      <div id="contra" class="custom-input">
        <ion-input 
          [type]="actualPasswordType" 
          placeholder="Ingrese su Contraseña Actual" 
          label="Contraseña Actual:" 
          labelPlacement="floating"
          errorText="Formato de contraseña incorrecto"
          required>
        </ion-input>
        <ion-button fill="clear" slot="end" class="password-toggle-button" (click)="toggleActualPasswordVisibility()">
          <ion-icon [name]="actualPasswordIcon"></ion-icon>
        </ion-button>
      </div>

      <div id="contra" class="custom-input">
        <ion-input 
          [type]="passwordType" 
          placeholder="Ingrese su Contraseña" 
          label="Contraseña Nueva:" 
          labelPlacement="floating"
          helperText="12345678Fn@"
          errorText="Formato de contraseña incorrecto"
          required>
        </ion-input>
        <ion-button fill="clear" slot="end" class="password-toggle-button" (click)="togglePasswordVisibility()">
          <ion-icon [name]="passwordIcon"></ion-icon>
        </ion-button>
      </div>

      <div id="contra" class="custom-input">
        <ion-input 
          [type]="confirmPasswordType" 
          placeholder="Confirme su Contraseña" 
          label="Confirmar Contraseña:" 
          labelPlacement="floating"
          errorText="Las contraseñas no coinciden"
          required>
        </ion-input>
        <ion-button fill="clear" slot="end" class="password-toggle-button" (click)="toggleConfirmPasswordVisibility()">
          <ion-icon [name]="confirmPasswordIcon"></ion-icon>
        </ion-button>
      </div>
  


      <ion-button expand="block" color="warning">Restablecer Contraseña</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="center-text">
      <ion-card-title>Olvidaste tu contraseña actual?</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-label class="center-text">
        Ingresa el correo electrónico con el que te registraste y te enviaremos un enlace para restablecer tu contraseña.
      </ion-label>
      
      <ion-item>
        <ion-input type="email" 
        placeholder="Ingrese correo" 
        label="Correo" 
        labelPlacement="floating"
        class="custom-input"></ion-input>
      </ion-item>
      
      <ion-button expand="block" color="warning">Enviar Correo</ion-button>
      
    </ion-card-content>
    </ion-card>
  </ion-content>
  