.login-logo {
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-top: 20px;
    margin-bottom: 20px; /* Espacio entre la imagen y la tarjeta */
  }

.login-container {
    display: flex;
    justify-content: center;
}
 
ion-label {
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-top: 10px;
    margin-bottom: 30px; 
    justify-content: center;
}

ion-button{
    padding-top: 20px;
}

.custom-input {
    padding: 10px !important; /* Ajusta el valor del padding según tus necesidades */
    box-sizing: border-box !important; /* Asegúrate de que el padding se incluya en el tamaño total del elemento */
  }
  
.center-text {
  text-align: center;
  display: block;
  width: 100%;
}

#contra{
  display: flex;
  align-items: center;
}


.password-toggle-button {
  margin-left: -40px; /* Ajusta este valor según sea necesario */
  z-index: 10;
  padding: 0; /* Elimina el padding del botón */
  height: auto; /* Ajusta la altura del botón */
  min-width: 0; /* Asegura que el ancho mínimo sea cero */
  min-height: 0; /* Asegura que la altura mínima sea cero */
}
.password-toggle-button ion-icon {
  margin-right: -15px; /* Ajusta este valor según sea necesario */
  
}